<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knowway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 녹음 관련 권한 추가 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnowWay">
        <activity
            android:name=".ui.activity.AdminRecordingListActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ui.activity.RecordActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.AdminAreaSelectionActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.AdminDepartmentStoreSearchActivity"
            android:exported="true">
<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.SelectMenuActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.user.SignupActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activity.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustUnspecified" />
        <activity
            android:name=".ui.activity.mainpage.MainPageActivity"
            android:exported="true">
<!--             <intent-filter>-->
<!--                 <action android:name="android.intent.action.MAIN" />-->

<!--                 <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.DepartmentStoreSearchActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustUnspecified">

<!--             <intent-filter>-->
<!--                 <action android:name="android.intent.action.MAIN" />-->

<!--                 <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.MypageActivity"
            android:exported="true" >
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>